
.button1 
{
    
    border: 3px solid black;
    font-size: 50px;
    padding: 20px 25px;
    text-decoration: none;
    display: inline-block;
    color: black;

}


.button2 
{
    border: 3px solid green;
    border-radius: 30px;
    font-size: 50px;
    padding: 20px 25px;
    text-decoration: none;
    display: inline-block;
    color: green;

}
.button2:hover
{
    background-color: green;
    color: white;
}

.button3 
{
    border: 3px solid red;
    font-size: 50px;
    padding: 20px 25px;
    background-color: rgb(240, 41, 41);
    text-decoration: none;
    display: inline-block;
    color: white;

}
.button3:hover
{
    background-color: white;
    color:red
    
}
.button4 
{
    border: 3px solid rgb(245, 20, 245);
    border-radius: 15px;
    font-size: 50px;
    padding: 20px 25px;
    text-decoration: none;
    display: inline-block;
    color: rgb(211, 34, 211);
    transition:0.5s;

}
.button4:hover
{
    background-image: linear-gradient(white 10%,PURPLE);   
    color: black; 
    border: 1px solid black;
 
}


